.pad{
  width: 120px;
  color: white;
  display: inline-block;
  margin-right: 2vw;
}

.on{
  background-color: green;
}

.off{
  background-color: red;
}

.selected {
  border-width: thick;
  border-color: black;
  border-style: solid;
}
